/*
------------------------ =FONTS [use @font-face] ------------------------ */

/* ------------------------ Elegant Icon Font [http://www.elegantthemes.com/blog/resources/elegant-icon-font] ------------------------ */
@font-face {
	font-family: 'ElegantIcons';
	src:url('../fonts/ElegantIcons.eot');
	src:url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ElegantIcons.woff') format('woff'),
		url('../fonts/ElegantIcons.ttf') format('truetype'),
		url('../fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}
	/* Use the following CSS code if you want to use data attributes for inserting your icons */
	[data-icon]:before {
		content: attr(data-icon);
		font-family: 'ElegantIcons';
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-variant: normal;
		font-weight: normal;
		line-height: 1;
		speak: none;
		text-transform: none;
	}


/* ------------------------ Custom Optics Icon Font ------------------------ */
@font-face {
	font-family: 'optics';
	src: url('../fonts/optics.eot?-d1oe69');
	src: url('../fonts/optics.eot?#iefix-d1oe69') format('embedded-opentype'),
		 url('../fonts/optics.woff?-d1oe69') format('woff'),
		 url('../fonts/optics.ttf?-d1oe69') format('truetype'),
		 url('../fonts/optics.svg?-d1oe69#optics') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="rt-icon-"],
[class*=" rt-icon-"] {
	font-family: 'optics';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-rt-icon]:before {
	content: attr(data-rt-icon);
	font-family: 'optics';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
}

.rt-icon-cart:before {
	content: "\30";
}
.rt-icon-loop:before {
	content: "\31";
}
